<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Applicationss/applications.css')}}">
    <title>Заявки на курсы</title>
</head>
<body>

<header>
    <div class="logo"><img src="{{url_for('static', filename='/img/TOT logo.jpg')}}" alt="Logo"></div>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/tabs">Таблицы</a></li>
        </ul>
    </nav>
    <div class="buttons">
        <button onclick="window.location.href='https://web.telegram.org/a/#7674978957'">Бот</button>
        <button class="filled">Кнопка</button>
    </div>
</header>
    
<table>
    <thead>
        <tr>
            <th>Ник</th>
            <th>Название курса</th>
            <th>Решение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="nickname">@Pimpirim</td>
            <td class="course-name">Основы HTML</td>
            <td class="actions">
                <button>Принять</button>
                <button>Отклонить</button>
            </td>
        </tr>
        <tr>
            <td>@Student2</td>
            <td>Основы CSS</td>
            <td class="actions">
                <button>Принять</button>
                <button>Отклонить</button>
            </td>
        </tr>
        <tr>
            <td>@Student3</td>
            <td>Основы JavaScript</td>
            <td class="actions">
                <button>Принять</button>
                <button>Отклонить</button>
            </td>
        </tr>
    </tbody>
</table>

<section class="footer">
    <div class="footer-top">
        <div class="logo">
            <img src="{{url_for('static', filename='/img/TOT logo.jpg')}}" alt="Логотип ТОТ">
        </div>
        <div class="footer-links">
            <a href="https://web.telegram.org/a/#7674978957">Бот в телеграме</a>
        </div>
        <div class="social-icons">
            <a href="https://www.instagram.com/_artem___p_/">
                <img src="{{url_for('static', filename='/img/image3.png')}}" alt="Instagram">
            </a>
        </div>
    </div>
    <div class="footer-middle">
        <p class="made-by">Сделано командой <strong>ITshechka</strong></p>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Relume. Все права защищены.
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Условия обслуживания</a>
            <a href="#">Настройки файлов cookie</a>
        </p>
    </div>
</section>

</body>
</html>
